
/*** ESSENTIAL STYLES ***/
.menu{ float:right; padding-top:40px; padding-bottom:30px;}

.sf-menu, .sf-menu * { margin: 0;	padding: 0;	list-style: none;}
.sf-menu li {	position: relative;}
.sf-menu ul {	position: absolute;	display: none; background: #15579f;}
.sf-menu ul:hover { background: #104f94;}
/*Menu starts from left*/
.sf-menu > li {	float:left; list-style:none;	padding-right:10px;}
.sf-menu li:hover > ul,.sf-menu li.sfHover > ul {	display: block;	position:absolute;}
.sf-menu > li a{ font-family: 'Oswald', sans-serif; font-size:15px; color:#fff; text-align:left; padding:8px 14px 8px 14px; text-transform:uppercase;}
.sf-menu a { display: block;	position: relative;	font-family: 'Oswald', sans-serif; font-size:15px; color:#afb0a9; text-align:center; padding:8px 14px 8px 14px; text-transform:uppercase;}
.sf-menu a:hover { background:#104f94; padding:8px 14px 8px 14px; color:#fff;}
.sf-menu a.active { background:#104f94;padding:8px 14px 8px 14px; color:#fff;}
.sf-menu ul ul { top: 0;	left: 100%;}
.sf-menu { float: right; margin-bottom: 1em;}
/* allow long menu items to determine submenu width */
.sf-menu ul {	min-width: 12em;}
.current{ text-transform:none;}
.sf-menu li > ul a{ text-transform: none;}
.sf-menu ul li {border-bottom:#0e4786 solid 1px;}
.sf-menu ul li a{ font-size:14px; font-weight:normal;font-family: 'Oswald', sans-serif;}
.sf-menu ul ul li {	background: #15579f;}
.sf-menu ul ul li:hover{ background: #104f94;}
.sf-menu li:hover {	background:#104f94;}
